    <!-- Below Meta Tags Generated via https://www.opengraph.xyz -->
    <!-- Values are set in pelicanconf.py -->
    <!-- HTML Meta Tags -->
    <meta name="description" content="{{ SITEDESC }}">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ SITEURL }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ SITENAME }}">
    <meta property="og:description" content="{{ SITEDESC }}">
    <meta property="og:image" content="{{ SITELOGO }}">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{ SITEDOMAIN }}">
    <meta property="twitter:url" content="{{ SITEURL }}">
    <meta name="twitter:title" content="{{ SITENAME }}">
    <meta name="twitter:description" content="{{ SITEDESC }}">
    <meta name="twitter:image" content="{{ SITELOGO }}">
    <!-- Above Meta Tags Generated via https://www.opengraph.xyz -->
